{% extends "base.html" %}

{% block title %}Home of CRM{% endblock title %}

{% block body %}
    {% for message in messages %}
        <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
            <strong>!</strong> {{message}}.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    
    <div class="container rounded shadow text-bg-secondary border border-2 p-4 my-3">
        {% if not user.is_authenticated %}
            <a href="{% url 'signin'%}"title="Sign up" class="btn btn-success shadow-lg me-2"><i class="fa-solid fa-right-to-bracket"></i></a>
            <a href="{% url 'login'%}" title="Log in"class="btn btn-info shadow-lg ms-2"><i class="fa-solid fa-user-plus"></i></a>
            {% else %}    
            <a href="{% url 'logout'%}" title="Log out" class="btn btn-danger shadow-lg me-2"><i class="fa-solid fa-right-from-bracket"></i></a>
            <a href="{% url 'add_record'%}" title="Add record" class="btn btn-light shadow-lg ms-2"><i class="fa-solid fa-plus"></i></a>
        {% endif %}
    </div>

    <div class="container rounded shadow-lg border border-2 p-4 my-3">
        <table class="table table-striped">
            <thead class="table-dark">
              <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Phone no.</th>
                <th scope="col">Email ID</th>
                <th scope="col">Address</th>
                <th scope="col">City</th>
                <th scope="col">State</th>
                <th scope="col">Zip Code</th>
                <th scope="col">Slug</th>
              </tr>
            </thead>
            <tbody>
                {% if records.exists %}
                    {% for record in records %}
                        <tr>
                            <td>{{record.first_name}}</td>
                            <td>{{record.last_name}}</td>
                            <td>{{record.phone}}</td>
                            <td>{{record.email}}</td>
                            <td title="{{record.address}}">{{record.address | truncatechars:10}}</td>
                            <td>{{record.city}}</td>
                            <td>{{record.state}}</td>
                            <td>{{record.zipcode}}</td>
                            <th scope="row">
                                <a href="{% url 'modify_record' record.uni_slug %}" title="Update" class="btn btn-sm btn-success"><i class="fa-solid fa-pen-to-square"></i></a>
                                <a href="{% url 'del_record' record.uni_slug %}" title="Remove" class="btn btn-sm btn-danger"><i class="fa-solid fa-trash"></i></a>
                            </th>
                        </tr>
                    {% endfor %}
                {% else %}
                        <tr>
                            <td colspan="9" class="text-center fs-3">No Record Found!</td>
                        </tr>
                {% endif %}
            </tbody>
          </table>
    </div>
{% endblock body %}